nav {
    margin-bottom: 20px;
}
body {
    color: #777777;
    font-family: 'Georgia',Times,'Times New Roman', serif;
}
p {
    line-height: 2 !important;
}
h1 {
    color: #4aaaa5;
    font-size: 24px;
}
h3 {
    margin: 0;
    padding-bottom: 15px;

}
.navbar-brand {
    font-size: 32px; 
    background-color: #4aaaa5; 
    color: white !important; 
    padding: 15px 20px 20px 20px;
}
.container {
    background-color: white;
    width: 960px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}
#button1, #button2, #button3, #button4, #button5 {
    position: absolute;
    background-color: #4aaaa5;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 200px;
}
#button1, #button3, #button5 {
    top: 74%;
    height: 45px;
    left: 12.7%;
}
#button2, #button4 {
    top: 74%;
    left: 12.6%;
    height: 45px;
}
.portimg {
    margin: 15px;
    float: left;
}
